.filterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emptyMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-surface-raised);
  border-color: var(--color-border-default);
  border: solid;


}

.resultsMessage {
  background-color: var(--color-surface-raised);
  text-align: center;
  width: 100vw;
}