.shell {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100vh;
  text-align: center;
}

h2 {
  margin: 0;
}

h6 {
  margin: 0;
}


p {
  margin: 0;
}


.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #f59e0b;
  height: auto;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #ffffff;
}