.shell {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100vh;
  text-align: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;:width:
;
  width: 100%;
  background-color: #f59e0b;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #666666;
}